@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:100,300,400,500,700,900");

/* general */
* {
  box-sizing: border-box;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

body{
  height: 100%;
  background-color: #090d18; 
}

button:focus {
  outline:0;
}

/* home */
.body{
  display: flex;
  flex-direction: row;
}

.home{
  background: linear-gradient(0deg, #171e31 20%, #2f3d64);
  width: 100%;
  min-height: 1100px;
}

.results h2{
  margin: 0 20px 10px 20px;
}

.results{
  padding: 20px;
}

