.search-page .search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -200px;
  border-radius: 50px;
  width: 400px;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.219);
}

.search-page .search-bar input{
  font-size: 20px;
  width: 345px;
  padding: 8px 25px;
}

.search-page .search-bar-button{
  font-size: 25px;
}

.search-page .search-bar ::placeholder { 
  color: rgb(211, 211, 211);
}

/* bokeh effect */
.bokeh-effect {
  width: 100vw;
  height: 100vh;
  background: #171e31;
  overflow: hidden;
  filter: blur(100px);
}

.bokeh-effect span {
  color: #455a96;
  width: 35vmin;
  height: 35vmin;
  border-radius: 20vmin;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bokeh-effect span:nth-child(1) {
  top: 69%;
  left: 24%;
  animation-duration: 13.2s;
  animation-delay: -12.5s;
  transform-origin: 10vw 1vh;
  box-shadow: -40vmin 0 11vmin currentColor;
}

.bokeh-effect span:nth-child(2) {
  color: #3f4c72;
  top: 55%;
  left: 87%;
  animation-duration: 15.4s;
  animation-delay: -7.4s;
  transform-origin: 8vw 16vh;
  box-shadow: 40vmin 0 6vmin currentColor;
}

.bokeh-effect span:nth-child(3) {
  top: 71%;
  left: 91%;
  animation-duration: 12.1s;
  animation-delay: -14.5s;
  transform-origin: -13vw 25vh;
  box-shadow: 40vmin 0 12vmin currentColor;
}

.bokeh-effect span:nth-child(4) {
  color: #4f5f8b;
  top: 89%;
  left: 46%;
  animation-duration: 12.4s;
  animation-delay: -5.4s;
  transform-origin: -20vw 19vh;
  box-shadow: -40vmin 0 9vmin currentColor;
}

.bokeh-effect span:nth-child(5) {
  top: 52%;
  left: 79%;
  animation-duration: 11.2s;
  animation-delay: -1.7s;
  transform-origin: -9vw 2vh;
  box-shadow: 40vmin 0 7vmin currentColor;
}

.bokeh-effect span:nth-child(6) {
  top: 8%;
  left: 17%;
  animation-duration: 12.5s;
  animation-delay: -9.5s;
  transform-origin: -18vw -4vh;
  box-shadow: 40vmin 0 9vmin currentColor;
}

.bokeh-effect span:nth-child(7) {
  top: 62%;
  left: 69%;
  animation-duration: 12.7s;
  animation-delay: -0.2s;
  transform-origin: 2vw 23vh;
  box-shadow: -40vmin 0 7vmin currentColor;
}

.bokeh-effect span:nth-child(8) {
  color: #364263;
  top: 92%;
  left: 22%;
  animation-duration: 13.2s;
  animation-delay: -4.4s;
  transform-origin: 13vw -9vh;
  box-shadow: -40vmin 0 7vmin currentColor;
}

.bokeh-effect span:nth-child(9) {
  top: 46%;
  left: 49%;
  animation-duration: 14.4s;
  animation-delay: -14.2s;
  transform-origin: 0vw 13vh;
  box-shadow: 40vmin 0 10vmin currentColor;
}

.bokeh-effect span:nth-child(10) {
  color: #3c5aad;
  top: 2%;
  left: 80%;
  animation-duration: 15.7s;
  animation-delay: -2.1s;
  transform-origin: 8vw -12vh;
  box-shadow: 40vmin 0 14vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}